page-home-m {
    .videoCard{
        background-color: black;
    }
    .bannerImg {
        height: auto;
        width: 100%;
      }
      .swiper-slide {
        height: auto;
        width: 100%;
      }
      .inputC{
        padding: 8px;
        border: 1px solid #cccccc;
        font-size: 16px;
        border-radius: 4%;
    }
    
}
