<ion-header>
  <ion-navbar color="primary" >
    <ion-title>Public Grieviences</ion-title>
    <button menuToggle ion-button>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button *ngIf="!uid" (click)="gtLogin()" >
        Sign In
      </button>
      <button ion-button color="danger" *ngIf="uid" (click)="signOut()" >
        Sign Out
      </button>
    </ion-buttons>
  </ion-navbar>
  <img src="assets/imgs/gandhi.png"/>
</ion-header>


<ion-content >

  <ion-card class="complaintsCard" >
    <ion-card-content>
      <div class="complaintsHeader">YOUR AREA NEWS</div>
    
      <ion-grid>
          <ion-row >
            <ion-item>
              <ion-label stacked color="dark">State</ion-label>
              <ion-select placeholder="Select State" class="inputC">
                <ion-option value='Telangana'>Telangana</ion-option>
              </ion-select>
            </ion-item>
          </ion-row>
          <ion-row >
            <ion-label stacked></ion-label>
            <button ion-button >Go</button>
          </ion-row>
      </ion-grid>
    
    
    </ion-card-content>
    </ion-card>  


      <ion-card class="vidClass" (click)="playVid(vid.File)" *ngFor="let vid of videos" >
          <video class="videoIMG" >
            <source [src]="vid.File" type="video/mp4" >
          </video>
          <h2>{{vid.VideoTitle}} </h2>
      </ion-card>


<div class="footerBar">
  <p>© Copy Rights Public Grievances . All Rights Are Reserved 2018</p>
  </div>

</ion-content>
