<ion-content class="bodyBack" >

    <ion-grid>
      <ion-row>
        <ion-col col-4 >
          <img class="logo" src="assets/imgs/public.png"/>
        </ion-col>
        <ion-col col-4 >
          <img src="assets/imgs/gandhi.png"/>
        </ion-col>
        <ion-col col-4 >
          <ion-row>
            <ion-buttons end>
              <button ion-button clear color="dark" *ngIf="!uid" (click)="gtSignUp()" >
                <ion-icon name="ios-share-outline"></ion-icon>
                Sign Up
              </button>
              <button ion-button clear color="dark" *ngIf="!uid" (click)="gtLogin()" >
                <ion-icon name="person"></ion-icon>
                Login
              </button>
              <button ion-button clear color="danger" *ngIf="uid" (click)="signOut()" >
                <ion-icon name="person"></ion-icon>
                Sign Out
              </button>
            <button ion-button icon-only clear  color="gr" >
              <ion-icon name="logo-facebook"></ion-icon>
            </button>
            <button ion-button icon-only clear  color="gr" >
              <ion-icon name="logo-instagram"></ion-icon>
            </button>
            <button ion-button icon-only clear  color="gr" >
              <ion-icon name="logo-twitter"></ion-icon>
            </button>
            </ion-buttons>
          </ion-row>
          <ion-row>
            <ion-input type="text" placeholder="Area Name" [(ngModel)]="AreaName" class="mainSearchBar" ></ion-input>
          </ion-row>
          </ion-col>
      </ion-row>
    </ion-grid>
  
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col class="menuItem" (click)="gtHome()" >
          HOME
        </ion-col>
        <ion-col class="menuItem" (click)="gtComplaints()" >
          COMPLAINTS
        </ion-col>
        <ion-col class="menuItem" (click)="gtGovtDep()" >
          GOVT.DEPARTMENT LINKS
        </ion-col>
        <ion-col class="menuItem" (click)="gtNetaji()" >
          NETAJI SPEAKS
        </ion-col>
        <ion-col class="menuItem" (click)="gtYourArea()" >
          YOUR AREA NEWS
        </ion-col>
        <ion-col class="menuItem" (click)="gtContact()" >
          CONTACT
        </ion-col>
  
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  
<ion-card class="complaintsCard" >
  <ion-card-content>
    <div class="complaintsHeader">Contact Us</div>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <ion-item>
            <ion-label color="dark" stacked>Name</ion-label>
            <ion-input type="text" placeholder="Name" autofocus class="inputC" [(ngModel)]="Name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="dark" stacked>Email</ion-label>
            <ion-input type="email" placeholder="Email" class="inputC" [(ngModel)]="Email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label stacked color="dark">Phone No</ion-label>
            <ion-input type="tel" placeholder="PhoneNo" class="inputC" [(ngModel)]="PhoneNo"></ion-input>
          </ion-item>
          <button ion-button [disabled]="!Name||!Email||!PhoneNo||!Comments" (click)="sendContactUs()" >Submit</button>
          </ion-col>
          <ion-col col-4>
          <ion-item>
            <ion-label stacked color="dark">Comments</ion-label>
            <ion-textarea [(ngModel)]="Comments" class="inputC" placeholder="Enter Comments Here"  ></ion-textarea>
          </ion-item>
        </ion-col>
        <ion-col col-2>
          <div class="cCenter">
          <h2 ion-text color="primary">Get In Touch</h2>

          <p><strong>Public Grievences</strong></p>
          <p>Hyderabad,</p>
          <p>info@publicg.in</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>  
  
  
  </ion-content>
  
  