<ion-header>
  <ion-navbar color="primary" >
    <ion-title>Public Grieviences</ion-title>
    <button menuToggle ion-button>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button *ngIf="!uid" (click)="gtLogin()" >
        Sign In
      </button>
      <button ion-button color="danger" *ngIf="uid" (click)="signOut()" >
        Sign Out
      </button>
    </ion-buttons>
  </ion-navbar>
  <img src="assets/imgs/gandhi.png"/>
</ion-header>


<ion-content >

  <ion-card class="complaintsCard" >
    <ion-card-content>
      <div class="complaintsHeader">Complaints</div>
            <ion-item>
              <ion-label color="dark" stacked>Name</ion-label>
              <ion-input type="text" placeholder="Name" autofocus class="inputC" [(ngModel)]="Name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="dark" stacked>Email</ion-label>
              <ion-input type="email" placeholder="Email" class="inputC" [(ngModel)]="Email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked color="dark">Phone No</ion-label>
              <ion-input type="tel" placeholder="PhoneNo" class="inputC" [(ngModel)]="PhoneNo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label stacked color="dark">Category</ion-label>
              <ion-select class="inputC" placeholder="Category" [(ngModel)]="Category">
                <ion-option *ngFor="let author of authorities" [value]="author.Authority">{{author.Authority}} </ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label color="dark" stacked>Images/Videos</ion-label>
  
              <ion-input type="file" (change)="fileChange($event)" id="file-input" #fileInp (ngModel)="file1" ></ion-input>
  
            </ion-item>
            <ion-item>
              <ion-label stacked color="dark">Comments</ion-label>
              <ion-textarea [(ngModel)]="Comments" class="inputC" placeholder="Enter Comments Here"  ></ion-textarea>
            </ion-item>
            <button ion-button (click)="sendComplaint()" >Submit</button>
    </ion-card-content>
  </ion-card>  
<div class="footerBar">
  <p>© Copy Rights Public Grievances . All Rights Are Reserved 2018</p>
  </div>
  
</ion-content>
