page-login-m {

    .inputC{
        border: 1px solid #cccccc;
        font-size: 14px;
        border-radius: 4%;
        margin-bottom: 20px;
    }
    ion-label{
        font-size: 16px !important;
        color : black;
    }
.formLabel{
    font-size: 12px !important;
    color : black;
}        

}
