<ion-header>
  <ion-navbar color="primary" >
    <ion-title>Public Grieviences</ion-title>
    <button menuToggle ion-button>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button *ngIf="!uid" (click)="gtLogin()" >
        Sign In
      </button>
      <button ion-button color="danger" *ngIf="uid" (click)="signOut()" >
        Sign Out
      </button>
    </ion-buttons>
  </ion-navbar>
  <img src="assets/imgs/gandhi.png"/>
</ion-header>


<ion-content>



  <ion-card>
    <ion-item color="authHead">Authority</ion-item>
    <ion-list  >
      <ion-item class="authSub"  *ngFor="let authoriti of authorities">{{authoriti.Authority}} </ion-item>
  </ion-list>
</ion-card>










  <div class="footerBar">
    <p>© Copy Rights Public Grievances . All Rights Are Reserved 2018</p>
    </div>
  
</ion-content>
